@media (min-width: 992px) {
    footer {
        width: 100%;
        height: fit-content;
        background-color: var(--Noir) ;
        border-top: 5px solid #403E3D;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between ;
    }
    .topFooter {
       
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding-left: 7%;
        padding-top: 21px;
        background-color: transparent;
        gap: 5%;
        margin-bottom: 1%;

    
    }
    .EndText>ul>li {
        color: var(--Gray-L);
        text-decoration: none;
        list-style: none;
        font-family: Mont;
        font-size: 13px;
        line-height: 19px;
        text-wrap: nowrap;
        
    }
    .EndText>ul {
        padding-top: 35px;
        text-wrap: nowrap;
    }
    .EndText>ul>li:nth-of-type(1) {
        color: white;
        font-size: 14px;
        line-height: 25px;
        font-family: Cormo;
        text-wrap: nowrap;
    }
  
    .Endlogo {
        width: fit-content;
        height: 147px;
        background-image: url(/public/images/logo1.png);
        background-size: cover;
        background-position: center;
        margin-right: 6%;

    }
    .Endlogo:nth-of-type(1) {
        display: none;
    }
    .Social {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        position: relative;
        top: 140px;
      
    }
    
    /* bottom footer start */
    .bottomFooter {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-left: 139px;
        color: white;
        gap: 15px;
        margin-bottom: 29px;
        padding-top: 2px;
    }
    .Right {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 10px;
        margin-right: 71px;
        font-size: 13px;
        font-family: Karla;
        color: var(--Gray-Font);
    }
    .bottomFooter>span {
        font-family: Karla;
        font-size: 11px;
        color: var(--Gray-Font);
    }

    .Right1 {
        display: none;
    }

    .topFooter1 {
        display: none;
    }
    /* bottom footer end */  
}


