@media (min-width: 992px)  {
    /* category start */
.category {
    width: 100%;
    height: 619px;
}
.MobileCat {
    display: none;
}
.catTitle {
    
    text-align: center;
    margin-top: 47px;
    margin-bottom: 44px;
}
.catTitle>span {
    font-size: 40px;
    font-family: Cormo;
    font-weight: 400;
    text-align: center;
    color: #0C0606;
}
.catTitle>p {
    font-size: 28px;
    color: #0C0606;
    font-weight: 400;
    font-family: CormoItalic;
}

.offer {
    width: 100%;
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 17px;
    justify-content: center;
}
.offers {
    width: 16.5%;
    height: auto;
    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 21px;
    transition: opacity 0.3s ease; 
    cursor: pointer;
}
.offers > picture {
    position: relative;
    width: 100%; 
    display: inline-block;
}

.offers > picture > img {
    object-fit: cover;
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 4px 0px #D8D1CEBD;
    transition: opacity 0.3s ease; 
}

.offers > picture > .hover-img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease; 
}

.offers:hover  > picture > .hover-img {
    opacity: 1; 
}

.offers:hover  > picture > img {
    opacity: 0; 
}

.offers>figcaption {
    font-size: 24px;
    font-family: Cormo;
    transition: color 0.3s ease; 
}
.offers:hover > figcaption {
color: rgb(255, 179, 0);
}
/* category end */

/* article start */
.Article {
    width: 100%;
    height: fit-content;
    background-color: var(--Noir) ;
    display: flex;
    flex-flow: row wrap;
}

.Model {
    width: 37%;
    height: 100%;
    display: block;
}
.Model>img {
   height: 100%;
    object-fit: cover;
    height: 100%;
}

.Essay {
    width: calc(100% - 37%);
    height: 100%;
    color: white;
    padding-left: 75px;
    padding-top: 42px;
    padding-right: 105px;
    display: flex;
    flex-flow: column;
    gap: 32px;
    background-color: var(--Noir)


}
.Essay>span {
    font-size: 19px;
    font-weight: 400;
   
}
.Essay>h3 {
    font-size: 35px;
    font-family: Cormo;
    font-weight: 700;
    padding-top: 10px;
}
.Essay>p {
font-size: 22px;
line-height: 26.82px;
font-family: Mont ;
font-weight: 400;
}

.ReadMore {
    width: fit-content;
    text-wrap: nowrap;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17px;
    padding-bottom: 19px;
    padding-left: 21px;
    padding-right: 21px;
    border: 1px solid #E1DBD7;
    color: #FFFFFFD9;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.ReadMore > span {
    font-family: Mont;
    color: white;
    transition: color 0.3s ease; 
}

.ReadMore:hover > span {
    color: black; 
}

.ReadMore:hover {
    background-color: rgba(255, 255, 255, 0.653); 
}
/* article end */

/* Gifts start */
.GiftWrapper {
    width: 100%;
    height: 699px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Gifts {
    width: 100%;
    height: 600px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;


}
.Sample {
    width: 43%;
    
    display: block;
}
.Sample>img {
   height: 100%;
   width: 100%;
    object-fit: cover;
}
.GiftText {
    width: calc(100% - 43%);
    background: linear-gradient(0deg, rgba(119, 150, 175, 0.2), rgba(119, 150, 175, 0.2)),
    linear-gradient(275.66deg, rgba(119, 150, 175, 0.2) 17.15%, rgba(255, 255, 255, 0.2) 51.12%);
    display: flex;
    flex-flow: column;
    padding-left: 104px;
    padding-right: 102px;
    padding-top: 85px;
    gap: 25px;
    height: fit-content;
    padding-bottom: 30px;
    
}
.GiftText:nth-last-of-type(1) {
    display: none;
    height: 340px;
    position: relative;
    bottom: 95px;
    background-color: white;
}
.GiftText>h3 {
    font-size: 45px;
    font-family: Cormo;
    font-weight: 700;
    
}
.GiftText>p {
    font-size: 23px;
    font-family: Mont;
    font-weight: 400;
}
.ShopGift {
    width: fit-content;
    text-wrap: nowrap;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17px;
    padding-bottom: 19px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #0C0606;
    color: #0C0606;
    cursor: pointer;
    transition: all 0.3s ease;
}
.ShopGift>span {
    font-family: Karla;
    font-weight: 700;
    font-size: 21px;
    transition: all 0.3s ease;
}
.ShopGift:hover {
    background-color: black;
}
.ShopGift:hover >span {
    color: white;
}
/* Gifts end */


/* article start */
.Article {
    width: 100%;
    height: 746px;
    background-color: var(--Noir) ;
    display: flex;
    flex-flow: row wrap;
}

.Model2 {
    width: 44.5%;
    height: 746px;
}
.Model2>img {
   height: 100%;
    object-fit: cover;
}

.Essay2 {
    width: calc(100% - 44.5%);
    height: 100%;
    color: white;
    padding-left: 75px;
    padding-top: 42px;
    padding-right: 105px;
    display: flex;
    flex-flow: column;
    gap: 32px;
    background-color: var(--Noir)


}
.Essay2>span {
    font-size: 19px;
    font-weight: 400;
   
}
.Essay2>h3 {
    font-size: 35px;
    font-family: Cormo;
    font-weight: 700;
    margin-top: 20px;
}
.Essay2>p {
font-size: 22px;
line-height: 26.82px;
font-family: Mont ;
font-weight: 400;
}

.ReadMore2 {
    width: fit-content;
    text-wrap: nowrap;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17px;
    padding-bottom: 19px;
    padding-left: 21px;
    padding-right: 21px;
    border: 1px solid #E1DBD7;
    color: #FFFFFFD9;
    transition: all 0.3s ease;
    cursor: pointer;
  
}
.ReadMore2>span {
    font-family: Mont;
    color: white;
    transition: all 0.3s ease;
}

.ReadMore2:hover > span {
    color: black; 
}

.ReadMore2:hover {
    background-color: rgba(255, 255, 255, 0.653); 
}
/* article end */

figcaption {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
figcaption>span {
    font-size: 18px;
    font-family: Cormo;
    color: #000000B2;
    ;
}
figcaption>p {
    font-size: 22px;
    font-family: Cormo;
}





.offer1 {
    width: 100%;
    
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 17px;
    justify-content: center;
}
.offers1 {
    width: 16.5%;
    height: auto;
    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 21px;
    margin-bottom: 66px;
   
    cursor: pointer;
}
.offers1 > picture {
    position: relative;
    width: 100%; 
    display: inline-block;
}

.offers1 > picture > img {
    object-fit: cover;
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 4px 0px #D8D1CEBD;
   
}
.swiperContainer {
    display: none;
}
}





